params {
	outdir = "results"
	plaintext_email = false
	logo = "${baseDir}/assets/ikmblogo.png"
	valid_assembly = [ "hg18", "hg19" ]
	valid_pops = [ "AA", "AFR", "AMR", "CHN", "EAS", "EUR", "GER", "IND", "IRN", "JPN", "KOR", "MLT" ]
}

manifest {
	version = "1.0"
	description = "IKMB HLA Pipeline"
	author = "Frauke Degenhardt, Mareike Wendorff"
	homePage = "https://github.com/fdegenhardt-ikmb/HLApipePublic"
	nextflowVersion = "20.01.0"
}

timeline {
        enabled = true
        file = "${params.outdir}/pipeline_info/hla-pipeline_timeline.html"
}
report {
        enabled = true
        file = "${params.outdir}/pipeline_info/hla-pipeline_report.html"
}
trace {
        enabled = true
        file = "${params.outdir}/pipeline_info/hla-pipeline_trace.txt"
}
dag {
        enabled = true
        file = "${params.outdir}/pipeline_info/hla-pipeline_dag.svg"
}



profiles {
	standard {
		includeConfig 'conf/base.config'
		includeConfig 'conf/medcluster.config'
                includeConfig 'conf/resources.config'
	}
	ikmbdx {
                includeConfig 'conf/base.config'
                includeConfig 'conf/diagnostic.config'
                includeConfig 'conf/resources.config'
		includeConfig 'conf/singularity.config'
	}
}

ClusterOptions = { '--constraint=fast' }

params {
  // Defaults only, expecting to be overwritten
  max_memory = 120.GB
  max_cpus = 8
  max_time = 120.h
  maxMultiqcEmailFileSize = 25.MB

}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
