// Job paramaters to set for this environment
params {
  impute2_reference_dir = "/dpool/mgretsova/references/IMPUTE2/"
  shapeit = "/dpool/mgretsova/references/SHAPEIT/shapeit"
  beagle = "/dpool/ewacker/temp/beagle.jar"

// SCRATCH
	scratch = false

  // Defaults only, expecting to be overwritten
  max_memory = 1300.GB
  max_cpus = 60
  max_time = 48.h
  maxMultiqcEmailFileSize = 25.MB
}
// Resource manager settings

executor {
  queueSize=100
  cpus = 32
  memory = 500.GB
}

// Process setting

process {
  executor='local'
  cpus = 4
  memory = 50.GB
  time=48.h
}

//ClusterOptions = { '--nodelist=med[001-028]' }

singularity {
	enabled = true
	runOptions = "-B /dpool"
	cacheDir = "/dpool/singularity-cache"
}
