// Job paramaters to set for this environment
params {
  impute2_reference_dir = "/work_ikmb/ikmb_repository/references/imputation/homo_sapiens/1000KG/IMPUTE2/102014/"
  shapeit = "/work_ikmb/ikmb_repository/software/shapeit/2_r727/bin/shapeit"
  beagle = "/work_ikmb/ikmb_repository/software/beagle/4.1/bin/beagle.jar"

// SCRATCH
	scratch = true

  

  max_cpus = 32
  max_memory = 500.GB
}
// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  executor = 'slurm'
  queue = 'base'

  withName:readData {
		time = { check_max( 48.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 48.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:runBeagle {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:alignToReference {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:imputeHLA {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:phaseSNPs {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:phaseHLA {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:imputeHLACombine {
		time = { check_max( 48.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 48.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:phaseHLACombine {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
	withName:report {
		time = { check_max( 40.h * task.attempt, 'time' ) }
		clusterOptions = {
			def requestedTime = check_max( 40.h * task.attempt, 'time' )
			def maxSeconds = requestedTime.toSeconds()
			return maxSeconds > 48 * 3600 ? '--qos=long' : ''
		}
	}
}


//ClusterOptions = { '--nodelist=med[001-028]' }

singularity {
  enabled = true
  runOptions = "-B /scratch -B /work_beegfs -B /work_ikmb"
  cacheDir = "/work_ikmb/ikmb_repository/singularity_cache"
}

