// Job paramaters to set for this environment

params.impute2_reference_dir = "/work_beegfs/ikmb_repository/references/imputation/homo_sapiens/1000KG/IMPUTE2/102014/"
params.shapeit = "/work_beegfs/ikmb_repository/software/shapeit/2_r904/bin/shapeit"

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
}

singularity {
  enabled = true
  runOptions = "-B /work_beegfs -B /work_ifs"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}

process.container = 'ikmb/hla-pipe:devel'

params.max_cpus = 4
params.max_ram = 50.GB
