// Job paramaters to set for this environment
params {
  impute2_reference_dir = "/work_beegfs/ikmb_repository/references/imputation/homo_sapiens/1000KG/IMPUTE2/102014/"
  shapeit = "/work_beegfs/ikmb_repository/software/shapeit/2_r727/bin/shapeit"

// SCRATCH
	scratch = true

  

  max_cpus = 4
  max_ram = 50.GB
}
// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
  clusterOptions = { '--constraint=fast' }
}

//ClusterOptions = { '--nodelist=med[001-028]' }

singularity {
  enabled = true
  runOptions = "-B /scratch -B /work_beegfs"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache"
}

