// Job paramaters to set for this environment

params.impute2_reference_dir = "/work_ifs/ikmb_repository/references/imputation/homo_sapiens/1000KG/IMPUTE2/102014/"
params.shapeit = "/work_ifs/ikmb_repository/software/shapeit/2_r727/bin/shapeit"

// Resource manager settings

executor {
  queueSize=100
}

// Process setting

process {
  executor = 'slurm'
  queue = 'all'
  clusterOptions = { '--constraint=fast' }
}

singularity {
  enabled = true
  runOptions = "-B /work_ifs"
  cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
}


params.max_cpus = 4
params.max_ram = 50.GB
