params {
   references {
	'IKMB' {
		model = "${baseDir}/assets/models/multiethnic_IKMB/model_multiethnic.RData"
		sample = "${baseDir}/assets/samples/multiethnic_IKMB.cluster"
		frqs = "${baseDir}/assets/frequencies/multiethnic_IKMB.frq"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPA1","DPB1","DRB3","DRB4","DRB5"]
        dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_full.RData"
	}
	'IKMB_1KG' {
		model = "${baseDir}/assets/models/multiethnic_IKMB_1KG/model_multiethnic.RData"
		sample = "${baseDir}/assets/samples/multiethnic_IKMB_1KG.cluster"
		frqs = "${baseDir}/assets/frequencies/multiethnic_IKMB_1KG.frq"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPA1","DPB1","DRB3","DRB4","DRB5"]
 		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
	'IKMB_g' {
		model = "${baseDir}/assets/models/multiethnic_IKMB_g/model_multiethnic.RData"
		sample = "${baseDir}/assets/samples/multiethnic_IKMB_g.cluster"
		frqs = "${baseDir}/assets/frequencies/multiethnic_IKMB.frq"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPA1","DPB1","DRB3","DRB4","DRB5"]
		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
        'SpainItalyDF2' {
	        model = "${baseDir}/assets/models/GSA_spainItaly_datafreeze2/model_GSA_SpainItaly_2G.RData"
                loci = ["A","B","C","DRB1","DQA1","DQB1","DPB1","E"]
                dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
	'GSA_IKMB' {
		model = "${baseDir}/assets/models/GSA_IKMB/model_multiethnic.RData"
		sample = "${baseDir}/assets/samples/multiethnic_IKMB.cluster"
		frqs = "${baseDir}/assets/frequencies/multiethnic_IKMB.frq"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPA1","DPB1","DRB3","DRB4","DRB5"]
 		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_full.RData"
	}
	'GSA_IKMB_g' {
		model = "${baseDir}/assets/models/GSA_IKMB_g/model_multiethnic.RData"
		sample = "${baseDir}/assets/samples/multiethnic_IKMB.cluster"
		frqs = "${baseDir}/assets/frequencies/multiethnic_IKMB.frq"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPA1","DPB1","DRB3","DRB4","DRB5"]
 		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
	'GSA_Broad' {
		model = "${baseDir}/assets/models/InfiniumGlobal/InfiniumGlobal-Broad-HLA4-hg19.RData"
		sample = "${baseDir}/assets/samples/1000GP_Phase3_global.cluster"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPB1"]
 		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
	'GSA_European' {
		model = "${baseDir}/assets/models/InfiniumGlobal/InfiniumGlobal-European-HLA4-hg19.RData"
		sample = "${baseDir}/assets/samples/1000GP_Phase3_global.cluster"
		loci = ["A","B","C","DRB1","DQA1","DQB1","DPB1"]
 		dict = "${baseDir}/assets/supplementary/impute_SNPs_AA_G.RData"
	}
    }
}


